@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 1.6;
}

/* fonts */
h2 {
  margin: 0.5rem 0;
}

/* layout */
.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.144) 100%
  );
}

.todos {
  border: 1px solid grey;
  padding: 0.5rem 2rem 2rem 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* form and input */
form {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
}

input {
  flex: 1;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.7rem;
  border: 1px solid grey;
  border-radius: 0.2rem;
  outline: none;
}

/* todo item */
.todo {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-top: 1px solid gray;
}

.todo svg {
  cursor: pointer;
}

.error {
  border: 2px solid red;
}
