/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* general styles */
body {
  background-color: #bc4b51;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  line-height: 1.6;
}

/* general styles */
button {
  display: inline-block;
}
/* fonts */
h1 {
  font-size: 1.3rem;
  text-align: center;
}
/* container */
.app {
  min-height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

/* form and input */
form {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

input {
  width: 90%;
  padding: 0.3rem;
  border: 2px dashed;
  font-size: 1.3rem;
  outline: none;
}

.btn-create {
  background-color: #5b8e7d;
  color: inherit;
  border-radius: 3px;
  display: inline-block;
  padding: 0 0.5rem;
  font-size: 1.3rem;
  outline: none;
  cursor: pointer;
}

.todos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  border: 1px solid #8cb369;
  border-radius: 3px;
  padding: 0.3rem;
}

.todo {
  font-size: 1rem;
  cursor: pointer;
}

/* icons */
ion-icon {
  cursor: pointer;
  font-size: 24px;
  color: rgb(124, 6, 6);
}

@media (min-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  input {
    padding: 0.6rem;
  }

  .todo {
    font-size: 1.2rem;
  }

  ion-icon {
    font-size: 32px;
  }
}
